@import "@/styles/variables.scss";

.managerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 200px;

    &__article {
        display: flex;
        flex-direction: column;
        gap: 42px;

        &__title {
            font-size: clamp(2.5rem,3vw,10rem);
            color: $blue950;
            font-weight: 500;
        }

        &__text {
            font-size: clamp(1.15rem,1.05vw,10rem);
            color: $grey50;
            line-height: 32px;
        }

        &__div {
            display: flex;
            gap:20px;
        }
    }

    &__illustration {
        z-index: 10;
        padding-right: 80px;
    }

    &__div {
        position: absolute;
        background-color: $blue600;
        width: 30vw;
        height: 37vh;
        right: 0;
        bottom: -50px;
        border-bottom-left-radius: 200px;
        
    }
}

.managerSection__article__div-chromeButton {
    background-color: $blue600;
    border: 0px;
    padding: 15px 33px 15px 33px;
    border-radius: 6px;
    color: white;
    font-size: clamp(1rem,0.95vw,10rem);
    font-weight: 500;
    cursor: pointer;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
    border: 2px solid $blue600;

    &:hover {
        background-color: transparent;
        color: $blue600;
    }
}

.managerSection__article__div-firefoxButton {
    background-color: white;
    border: 0px;
    padding: 15px 33px 15px 33px;
    border-radius: 6px;
    color: $blue950;
    font-size: clamp(1rem,0.95vw,10rem);
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(17, 8, 46, 0.15);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: all;

    &:hover {
        background-color: transparent;
        outline: 2px solid $blue950;
    }
}

@media (max-width: 1520px) {
    .managerSection {
        padding-left: 150px;

        &__illustration {
            padding-right: 50px;
        }
    }
}

@media (max-width: 1400px) {
    .managerSection {
        padding-left: 100px;

        &__illustration {
            padding-right: 30px;
        }
    }   
}


@media (max-width: 1280px) {
    .managerSection {
        padding-left: 50px;

        &__illustration {
            padding-right: 10px;
            width: 620px;
        }

        &__div {
            width: 40vw;
        }
    }   
}

@media (max-width: 1180px) {
    .managerSection {
        justify-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0;
        gap:100px;

        &__div {
            bottom: 400px;
            height: 45vh;
            width: 60vw;
        }

        &__article {
            display: grid;
            justify-items: center;

            &__title {
                text-align: center;
            }

            &__text {
                text-align: center;
            }
        }
    }
}

@media (max-width: 650px) {
    .managerSection__illustration {
        display: none;
    }

    .managerSection__div {
        display: none;
    }
}

@media (max-width: 550px) {
    .managerSection__article {
        padding: 10px;
    }

    .managerSection__br {
        display: none;
    }
}