@import "@/styles/variables.scss";

.footerSection {
    background-color: $blue950;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px 30px 200px;

    &__divNav {
        display: flex;
        align-items: center ;
        gap:50px;

        &__nav {
            list-style: none;
            display: flex;
            gap:50px;

            &__item {
                text-decoration: none;
                font-size: clamp(1.1rem,0.95vw,10rem);
                color: rgb(233, 233, 233);
                transition-duration: 300ms;
                transition-timing-function: ease-in-out;
                transition-property: all;
            }
        }
    }

    &__divButtons {
        display: flex;
        gap:50px;

        &__item {
            background: transparent;
            border: 0px;
        }
    }
}

// .test:hover {
//     filter:brightness();
// }

.logo {
    filter: brightness(170%);
}

.footerSection__divNav__nav__item:hover {
    color: $red400;
}

@media (max-width: 1520px) {
    .footerSection {
        padding: 30px 150px 30px 150px;
    }
}

@media (max-width: 1400px) {
    .footerSection {
        padding: 30px 100px 30px 100px;
    }
}

@media (max-width: 1280px) {
    .footerSection {
        padding: 30px 50px 30px 50px;
    }   
}

@media (max-width: 1024px) {
    .footerSection {
        padding: 30px;
    }   
}

@media (max-width: 768px) {
    .footerSection {
        display: grid;
        justify-items: center;
        justify-content: center;
        gap:50px;

        &__divNav {
            display: grid;
            justify-items: center;
            gap:30px;

            &__nav {
                display: grid;
                justify-items: center;
                gap:30px;
            }
        }
    }
}