@import "@/styles/variables.scss";

.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__article {
        display: flex;
        gap:50px;
        align-items: center;

        &__list {
            list-style: none;
            display: flex;
            gap:50px;
        }

        &__button {
            background-color: $red400;
            border: 0px;
            border-radius: 6px;
            padding: 12px 35px 12px 35px;
            cursor: pointer;
            color: white;
            font-weight: 600;
            font-size: clamp(1rem,0.8vw,10rem);
            letter-spacing: 1px;
            transition-duration: 300ms;
            transition-timing-function: ease-in-out;
            transition-property: all;

            &:hover {
                background-color: transparent;
                color: $red400;
                outline: 2px solid $red400;
            }
        }

        &__buttonBurger {
            background-color: transparent;
            border: 0px;
            display: none;
        }
    }
}

.headerSection__article__list-item {
    text-decoration: none;
    color: $blue950;
    letter-spacing: 1px;
    font-size: clamp(1.1rem,0.9vw,10rem);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: all;

    &:hover {
        color: $red400;
    }
}


@media (max-width: 768px) {
    .headerSection__article {
        &__list {
            display: none;
        }

        &__button {
            display: none;
        }

        &__buttonBurger {
            display: block;
        }
    }
}

