@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$blue600: hsl(231, 69%, 60%);
$red400: hsl(0, 94%, 66%);

$grey50: hsl(252, 3%, 68%);
$blue950: hsl(229, 31%, 21%);

$font-primary: "Rubik", sans-serif;