@import "@/styles/variables.scss";

.question {
    padding: 100px 200px 100px 200px;
    display: grid;
    gap:60px;

    &__articleTitle {
        display: grid;
        gap:30px;
        justify-items: center;

        &__title {
            font-size: clamp(1.8rem,2vw,10rem);
            font-weight: 500;
            color: $blue950;
            text-align: center;
        }

        &__text {
            font-size: clamp(1.1rem,1.1vw,10rem);
            color: $grey50;
            text-align: center;
        }
    }

    &__articleQuestions {
        display: grid;
        gap:70px;
        justify-items: center;


        &__button {
            background-color: $blue600;
            border: 0px;
            border-radius: 6px;
            padding: 15px 20px 15px 20px;
            cursor: pointer;
            color: white;
            font-size: clamp(1rem,0.95vw,10rem);
            font-weight: 500;
        }
    }
}

.blockQuestions {
    display: grid;
    gap:25px;
    width: 700px;

    &__div {
        display: grid;
        gap: 30px;

        &:nth-child(1) {
            border-top: 1px solid $grey50;
            border-bottom: 1px solid $grey50;
            padding: 25px 0px 25px 0px;
        }

        &:nth-child(2) {
            border-bottom: 1px solid $grey50;
            padding-bottom: 25px;
        }

        &:nth-child(3) {
            border-bottom: 1px solid $grey50;
            padding-bottom: 25px;
        }

        &:nth-child(4) {
            border-bottom: 1px solid $grey50;
            padding-bottom: 25px;
        }
    }

    &__itemDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // gap:200px;
        border: 0px;
        background-color: transparent;
        color: $blue950;
        font-size: clamp(1.1rem,1.05vw,10rem);
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        transition-property: all;
        cursor: pointer;

        &:hover {
            color: $red400;
        }

        &__button {
            background-color: transparent;
            border: 0px;
            cursor: pointer;
            transition-duration: 300ms;
            transition-timing-function: ease-in-out;
            transition-property: all;
            // rotate: 180deg;
        }
    }

    &__answer {
        display: none;
        color: $grey50;
        line-height: 32px;
        font-size: clamp(1.1rem,0.95vw,10rem);
    }
}

.blockQuestions__itemDiv__button.active {
    rotate: 180deg;
    filter: invert(25%) sepia(90%) saturate(600%)
}

.activeAnswer {
    display: block;

}

@media (max-width: 1400px) {
    .question {
        padding: 100px;
    }
}


@media (max-width: 1280px) {
    .question {
        padding: 50px;
    }   
}

@media (max-width: 1024px) {
    .question {
        padding: 50px 30px 50px 30px;
    }   
}

@media (max-width:768px) {
    .blockQuestions {
        width: 550px;
    }
}

@media (max-width: 650px) {
    .blockQuestions {
        width: 450px;
    }
}

@media (max-width: 550px) {
    .question__br {
        display: none;
    }

    .blockQuestions {
        width: 350px;
    }
}

@media (max-width:425px) {
    .question {
        padding: 50px 20px 50px 20px;
    }

    // .blockQuestions__itemDiv {
    //     gap:150px;
    // }
}


@media (max-width: 400px) {
    .blockQuestions {
        width: auto;
    }
}